.a{
    border: 10px solid black;
    background-color:lightblue;
    
}

.b{
    border: 6px solid black; 
    background-color: lightblue;
}

.c{
    border: 3px solid black;
    background-color: lightblue;
}

.d{
    
    background-color: lightblue;

}